body {
    margin-left: 35px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 0px;
}
body-div {
    border-left: 3px orange solid;
    border-right: 3px orange solid;
    height: 100%;
}
.item {
    width: 350px;
    margin: 5px;
    float: left;
}
.item, .logo {
    width: 250px;
}
.quoteA {
    color: #4A3D2A;
    text-align: left;
}
.quoteB {
    color: maroon;
    text-align: left;
}
.quoteC {
    color: sienna;
    text-align: left;
}
.quoteD {
    color: peru;
    text-align: left;
}
.quote {
    font-family: CodaHeavy;
    font-weight: bolder;
    font-size: 40px;
    line-height: .80;
    z-index: 10;
    text-shadow: 4px 4px 4px black;
    padding-top: 5px;
    text-outline: 2px 2px black;
}
/**** Transitions ****/
.masonry, .masonry .masonry-brick {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.masonry {
    -webkit-transition-property: width, height;
    -moz-transition-property: width, height;
    -ms-transition-property: width, height;
    -o-transition-property: width, height;
    transition-property: width, height;
}
.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
a .masonry-image {
    width: 240px;
    border: 5px solid blanchedalmond;
}
a:hover .masonry-image {
    border-color: orange;
}

.masonry-menu{
    text-align: center;
    width: 210px;
    font-family: codaheavy;
    color: blanchedalmond;
    line-height: 1.3;
}

.handwriting{
    font-family: Stalemate;
    position:relative;
}
.usa{
    top: -65px;
    left: 120px;
    font-size: 40px;
}
.site-name {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    transform: rotate(-50deg);
    font-size: 70px;
    text-align: right;
    top: -30px;
    left: 13px;
    line-height: .9;
}

.textblock {
    border-top: solid thick sienna;
    border-bottom: solid thick sienna;
}

/*** Blog Reader ***/
/* begin styles for RSS Feed
     This is the most basic style to use for a list with no bullets */

.rss-box {
    width: 250px;
    background-color: #221100;
    padding: 10px;
}

.rss-title, .rss_title a {
    margin: 0px 0;
    padding: 0;
    color: blanchedalmond;
}

.rss-items {
    list-style:none;
    padding-left: 1px;
    color: blanchedalmond;
}

.rss-item  {
    font-size: small;
    margin-bottom: 10px;
    color: blanchedalmond;
}

.rss-item a:link, .rss-item a:visited, .rss-item a:active {
    color: peru;

}
a { text-decoration: none; }

.rss-item a:hover {
    color: orange;
}

.rss-date {
    font-size: x-small;
}
/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
    _width:12em;
    margin: 0 0.2em; padding: 0.1em 0; _padding:0;

    white-space:nowrap;
    text-decoration: none;
    vertical-align:middle;
    background: #fb6;
    color: black;
}
.pod-play em {
    _width:1em; _cursor:hand;
    font-style: normal;
    margin:0; padding: 0.1em 0.5em;
    background: white;
    color: #222;
}
.pod-play span {
    _width:1em; _cursor:hand;
    margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
}
.pod-play:hover {
    background: #666;
    color: white;
}
.pod-play:hover em {
    background: black;
    color: white
}